/build*
*.vs
/.vs
.vscode/c_cpp_properties.json
.vscode/settings.json
*.vs*
/.vscode
.vscode
./*build
./out
./cmake-build-release
./out*
./out/*
./out/build/*
.\out\build\Release
/out/build
*build*/
*idea*/
.cmake
CMakeFiles
CMakeSettings.json
build
.CMakeCache
/CMakeCache.txt
cmake_install.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
detect_cuda_compute_capabilities.cu
detect_cuda_version.cc
Makefile